/* You can add global styles to this file, and also import other style files */
.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn {
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

body {
  background-color: rgb(243, 244, 246);
}
